body {
  background-color: black;
  font-family: Courier, Bold;
}

h1 {
  color: white;
  font-family: Tahoma, monospace;
}

p {
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: Tahoma, sans-serif;
}

.logo {
  font-family: monospace;
  text-align: center;
  font-size: 4px;
  color: white;
}

footer {
  color: white;
  position: absolute;
  bottom: 40;
  margin-left: 41%;
}

a {
  color: grey;
  text-decoration: none;
}
